version: '3'

services:

  app:
    build: .
    networks:
      - node-network

    volumes:
      - .docker/node:/home/app
    container_name: apiblock-app
    entrypoint: dockerize -wait tcp://db:5432 -timeout 20s docker-entrypoint.sh

    ports:
      - "3225:3225"
    depends_on:
     - db
     - redis


  db:
    image: postgres
    container_name: apiblock-db
    restart: always
    tty: true
    ports:
      - "5432:5432"
    volumes:
      - .docker/dbdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=apiblock
    networks:
      - node-network

  redis:

    image: 'bitnami/redis:latest'
    container_name: apivendas-redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes



networks:
  node-network:
    driver: bridge
